html {
  font-size: 18px;
  color: white;
  font-family: Helvetica, sans-serif;
}

/* header */
.header {
  z-index: 1;
  background-color: black;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.header .container {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
}

.container img {
  height: 1.5rem;
  padding-right: 1rem;
}

.container span {
  padding: 0.66rem 0;
}

/* banner */
.banner {
  height: 25rem;
  background-image: url("../img/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  }

.new-arrival {
  background-color: black;
  width: 20rem;
  padding: 2rem 3rem;
  position: relative;
  top: 9rem;
  opacity: 0.8;
}

.new-arrival p {
  font-weight: bold;
  padding-bottom: 0.25rem;
}

.new-arrival h1 {
  margin-top: 0.25rem;
  font-size: 2rem;
  font-weight: bold;
}

/* navigation */
.navigation {
  width: 100%;
  background-color: firebrick;
}

.navigation .container {
  display: flex;
  justify-content: space-between;
}

nav span a {
  color: white;
  text-decoration: none;
}

/* footer */
footer {
  height: 5rem;
  text-align: left;
  background-color: black;
}
